# Introduction to Pandas

Pandas is a powerful Python library for working with data.
It makes it easier to organize, clean, analyze, and visualize data.

- Lists, dictionaries, and NumPy arrays.
- CSV, Excel, and JSON files.

### What Can Pandas Do?
- Store Data: Hold data in tables (like Excel sheets) called DataFrames.
- Clean Data: Remove missing values, rename columns, etc.
- Analyze Data: Perform calculations, find trends, and more.
- Visualize Data: Integrate with libraries like Matplotlib to create charts.

Pandas has two main data structures:
- Series: A one-dimensional array (like a list with labels).
Example: A column in Excel.
- DataFrame: A two-dimensional table (like a whole Excel sheet).
Example: A table with rows and columns.

In [1]:
pip install pandas

Requirement already satisfied: pandas in e:\anaconda\lib\site-packages (2.1.4)
Requirement already satisfied: numpy<2,>=1.23.2 in e:\anaconda\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in e:\anaconda\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in e:\anaconda\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in e:\anaconda\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in e:\anaconda\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

# Creation of DataFrames in Pandas

### Creating a series

In [2]:
import pandas as pd

# Creating a Series
data = [10, 20, 30, 40]
series = pd.Series(data)
print(series)

0    10
1    20
2    30
3    40
dtype: int64

### Creating a dataframe:

In [3]:
# Creating a DataFrame
data = {
    "Name": ["Hamza", "Majid", "Sami","Ali","Zafar","Saleem"],
    "Age": [25, 30, 35, 40, 45, 30],
    "Salery":[25000,30000,45000,55000,60000,75000]
}
df = pd.DataFrame(data)
print(df)

     Name  Age  Salery
0   Hamza   25   25000
1   Majid   30   30000
2    Sami   35   45000
3     Ali   40   55000
4   Zafar   45   60000
5  Saleem   30   75000

# exploring the DataFrame

In [4]:
import pandas as pd

# Load the CSV file into a DataFrame
df = pd.read_csv("weather_data.csv")  # Replace 'filename.csv' with the actual file name
print(df)

         day  temperature  windspeed  event
0   1/1/2017           32        6.0   Rain
1   1/2/2017           35        7.0  Sunny
2   1/3/2017           28        2.0   Snow
3   1/4/2017           27        NaN   Snow
4   1/5/2017           29        NaN    NaN
5   1/6/2017           40        NaN    NaN
6   1/7/2017           51        NaN   Rain
7   1/8/2017           23        NaN    NaN
8   1/9/2017           43        NaN    NaN
9  1/10/2017           12        NaN  Sunny

In [5]:
print(df.head(10))

         day  temperature  windspeed  event
0   1/1/2017           32        6.0   Rain
1   1/2/2017           35        7.0  Sunny
2   1/3/2017           28        2.0   Snow
3   1/4/2017           27        NaN   Snow
4   1/5/2017           29        NaN    NaN
5   1/6/2017           40        NaN    NaN
6   1/7/2017           51        NaN   Rain
7   1/8/2017           23        NaN    NaN
8   1/9/2017           43        NaN    NaN
9  1/10/2017           12        NaN  Sunny

In [6]:
print(df.tail(10))

         day  temperature  windspeed  event
0   1/1/2017           32        6.0   Rain
1   1/2/2017           35        7.0  Sunny
2   1/3/2017           28        2.0   Snow
3   1/4/2017           27        NaN   Snow
4   1/5/2017           29        NaN    NaN
5   1/6/2017           40        NaN    NaN
6   1/7/2017           51        NaN   Rain
7   1/8/2017           23        NaN    NaN
8   1/9/2017           43        NaN    NaN
9  1/10/2017           12        NaN  Sunny

# Understand the Dataset

### Check the shape of the data

In [7]:
print(df.shape)

(10, 4)

### Get column names:

In [8]:
print(df.columns)

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

### View data types of each column:

In [9]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   day          10 non-null     object
 1   temperature  10 non-null     int64
 2   windspeed    3 non-null      float64
 3   event        6 non-null      object
dtypes: float64(1), int64(1), object(2)
memory usage: 452.0+ bytes
None

### Summary statistics for numerical columns:

In [10]:
print(df.describe())

       temperature  windspeed
count    10.000000   3.000000
mean     32.000000   5.000000
std      10.984838   2.645751
min      12.000000   2.000000
25%      27.250000   4.000000
50%      30.500000   6.000000
75%      38.750000   6.500000
max      51.000000   7.000000

# Handling duplicate values

In [11]:
import pandas as pd
df = pd.read_csv("weather_data.csv")
print(df)

         day  temperature  windspeed  event
0   1/1/2017           32        6.0   Rain
1   1/2/2017           35        7.0  Sunny
2   1/3/2017           28        2.0   Snow
3   1/4/2017           27        NaN   Snow
4   1/5/2017           29        NaN    NaN
5   1/6/2017           40        NaN    NaN
6   1/7/2017           51        NaN   Rain
7   1/8/2017           23        NaN    NaN
8   1/9/2017           43        NaN    NaN
9  1/10/2017           12        NaN  Sunny

In [12]:
print(df["event"].duplicated())

0    False
1    False
2    False
3     True
4    False
5     True
6     True
7     True
8     True
9     True
Name: event, dtype: bool

In [13]:
print(df["event"].duplicated().sum())

6

In [14]:
print(df.drop_duplicates("event"))

        day  temperature  windspeed  event
0  1/1/2017           32        6.0   Rain
1  1/2/2017           35        7.0  Sunny
2  1/3/2017           28        2.0   Snow
4  1/5/2017           29        NaN    NaN

## Handling missing Values
NaN Values

In [15]:
print(df.isnull())

     day  temperature  windspeed  event
0  False        False      False  False
1  False        False      False  False
2  False        False      False  False
3  False        False       True  False
4  False        False       True   True
5  False        False       True   True
6  False        False       True  False
7  False        False       True   True
8  False        False       True   True
9  False        False       True  False

In [16]:
print(df.isnull().sum())

day            0
temperature    0
windspeed      7
event          4
dtype: int64

In [17]:
print(df.dropna())

        day  temperature  windspeed  event
0  1/1/2017           32        6.0   Rain
1  1/2/2017           35        7.0  Sunny
2  1/3/2017           28        2.0   Snow

# column Transformation
Column transformation refers to modifying, creating, or deleting columns in a Pandas DataFrame.

In [18]:
import pandas as pd

# Sample data
data = {
    "Name": ["Saleem", "Umer", "Ali", "Hamza"],
    "Age": [25, 30, 35, 40],
    "Salary": [50000, 60000, 70000, 80000],
    "City": ["BWP", "LHR", "FSD", "ISB"]
}

df = pd.DataFrame(data)
print(df)

     Name  Age  Salary City
0  Saleem   25   50000  BWP
1    Umer   30   60000  LHR
2     Ali   35   70000  FSD
3   Hamza   40   80000  ISB

### Add a New Column

In [19]:
df["Bonus"] = df["Salary"] * 0.1 #adding 10% bonus in 
print(df)

     Name  Age  Salary City   Bonus
0  Saleem   25   50000  BWP  5000.0
1    Umer   30   60000  LHR  6000.0
2     Ali   35   70000  FSD  7000.0
3   Hamza   40   80000  ISB  8000.0

### Modify an Existing Column

In [20]:
df["Salary"] = df["Salary"] * 1.05 #Increase each salary by 5%:
print(df)

     Name  Age   Salary City   Bonus
0  Saleem   25  52500.0  BWP  5000.0
1    Umer   30  63000.0  LHR  6000.0
2     Ali   35  73500.0  FSD  7000.0
3   Hamza   40  84000.0  ISB  8000.0

### Create a Column Based on a Condition

In [21]:
df["AgeCategory"] = df["Age"].apply(lambda x: "Young" if x < 35 else "Old") #Categorize people as "Young" or "Old" based on age:
print(df)

     Name  Age   Salary City   Bonus AgeCategory
0  Saleem   25  52500.0  BWP  5000.0       Young
1    Umer   30  63000.0  LHR  6000.0       Young
2     Ali   35  73500.0  FSD  7000.0         Old
3   Hamza   40  84000.0  ISB  8000.0         Old

### Rename a Column

In [22]:
df.rename(columns={"Salary": "MonthlySalary"}, inplace=True) #Rename the column "Salary" to "MonthlySalary"
print(df)

     Name  Age  MonthlySalary City   Bonus AgeCategory
0  Saleem   25        52500.0  BWP  5000.0       Young
1    Umer   30        63000.0  LHR  6000.0       Young
2     Ali   35        73500.0  FSD  7000.0         Old
3   Hamza   40        84000.0  ISB  8000.0         Old

### Drop a Column

In [23]:
df.drop(columns=["Bonus"], inplace=True) #Remove the "Bonus" column:
print(df)

     Name  Age  MonthlySalary City AgeCategory
0  Saleem   25        52500.0  BWP       Young
1    Umer   30        63000.0  LHR       Young
2     Ali   35        73500.0  FSD         Old
3   Hamza   40        84000.0  ISB         Old

### Combine Two Columns

In [24]:
df["NameCity"] = df["Name"] + " - " + df["City"] # Combine "Name" and "City" into a new column:
print(df)

     Name  Age  MonthlySalary City AgeCategory      NameCity
0  Saleem   25        52500.0  BWP       Young  Saleem - BWP
1    Umer   30        63000.0  LHR       Young    Umer - LHR
2     Ali   35        73500.0  FSD         Old     Ali - FSD
3   Hamza   40        84000.0  ISB         Old   Hamza - ISB

### Save the Updated Data

In [25]:
df.to_csv("transformed_data.csv", index=False) #Save the transformed DataFrame to a CSV file:

# Groupby in pandas


The groupby function in Pandas is used to group rows in a DataFrame based on the values of one or more columns. After grouping, you can perform aggregate operations (like sum, mean, count, etc.) on each group.

How groupby Works (Step-by-Step)
- Split: Divide the data into groups based on one or more columns.
- Apply: Perform an operation on each group (e.g., summing values).
- Combine: Combine the results into a new DataFrame or Series.

In [26]:
import pandas as pd

# Create a sample DataFrame
data = {
    "City": ["CityA", "CityB", "CityA", "CityB", "CityC"],
    "Product": ["A", "A", "B", "B", "A"],
    "Sales": [100, 200, 150, 300, 400]
}

df = pd.DataFrame(data)
print(df)

    City Product  Sales
0  CityA       A    100
1  CityB       A    200
2  CityA       B    150
3  CityB       B    300
4  CityC       A    400

### Total Sales by City
Group the data by the "City" column and calculate the total sales:

In [27]:
grouped = df.groupby("City")["Sales"].sum()
print(grouped)

City
CityA    250
CityB    500
CityC    400
Name: Sales, dtype: int64

### Average Sales by Product
Group by "Product" and calculate the average sales:

In [28]:
avg_sales = df.groupby("Product")["Sales"].mean()
print(avg_sales)

Product
A    233.333333
B    225.000000
Name: Sales, dtype: float64

### Group by Multiple Columns
Find the total sales for each "City" and "Product" combination:

In [29]:
grouped_multi = df.groupby(["City", "Product"])["Sales"].sum()
print(grouped_multi)

City   Product
CityA  A          100
       B          150
CityB  A          200
       B          300
CityC  A          400
Name: Sales, dtype: int64

### Count the Number of Entries in Each Group
Count how many times each product was sold in each city:

In [30]:
count_sales = df.groupby(["City", "Product"]).size()
print(count_sales)

City   Product
CityA  A          1
       B          1
CityB  A          1
       B          1
CityC  A          1
dtype: int64

### Apply Multiple Aggregations
You can perform multiple operations (e.g., sum and mean) at the same time:

In [31]:
agg_sales = df.groupby("City")["Sales"].agg(["sum", "mean", "max"])
print(agg_sales)

       sum   mean  max
City
CityA  250  125.0  150
CityB  500  250.0  300
CityC  400  400.0  400

# Merge,Join and concatenate in Pandas

### .Merge
The merge function is used to combine two DataFrames based on common columns or indices.

In [32]:
import pandas as pd

# Create two DataFrames
df1 = pd.DataFrame({
    "ID": [1, 2, 3],
    "Name": ["Alice", "Bob", "Charlie"]
})

df2 = pd.DataFrame({
    "ID": [2, 3, 4],
    "Score": [85, 90, 95]
})

# Merge on "ID"
merged_df = pd.merge(df1, df2, on="ID")
print(merged_df)

   ID     Name  Score
0   2      Bob     85
1   3  Charlie     90

### Join
The join function is used to combine DataFrames based on their indices.

In [33]:
# Create two DataFrames with indices
df1 = pd.DataFrame({
    "Name": ["Alice", "Bob", "Charlie"],
    "Age": [25, 30, 35]
}, index=[1, 2, 3])

df2 = pd.DataFrame({
    "Score": [85, 90, 95]
}, index=[2, 3, 4])

# Join on index
joined_df = df1.join(df2, how="inner")
print(joined_df)

      Name  Age  Score
2      Bob   30     85
3  Charlie   35     90

### Concatenate
The concat function stacks DataFrames either vertically (default) or horizontally.

In [34]:
df1 = pd.DataFrame({
    "ID": [1, 2, 3],
    "Name": ["Alice", "Bob", "Charlie"]
})

df2 = pd.DataFrame({
    "ID": [4, 5, 6],
    "Name": ["David", "Eve", "Frank"]
})

# Concatenate vertically
vertical_concat = pd.concat([df1, df2])
print(vertical_concat)

   ID     Name
0   1    Alice
1   2      Bob
2   3  Charlie
0   4    David
1   5      Eve
2   6    Frank

In [35]:
df1 = pd.DataFrame({
    "ID": [1, 2, 3],
    "Name": ["Alice", "Bob", "Charlie"]
})

df2 = pd.DataFrame({
    "Score": [85, 90, 95]
})

# Concatenate horizontally
horizontal_concat = pd.concat([df1, df2], axis=1)
print(horizontal_concat)

   ID     Name  Score
0   1    Alice     85
1   2      Bob     90
2   3  Charlie     95

## When to Use Each
### Use merge:
- When you want SQL-style joins.
- Combining DataFrames based on column(s).
### Use join:
- When combining DataFrames by their indices.
 ### Use concat:
- When stacking DataFrames either vertically or horizontally.